.bgBanner{
    background-image: url(/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    
}
.h50{
    height: 50px;
}